:root {
  --header-height: 28px;
  --header-bg-color: #f7f7f7;
  --header-font-size: 16px;
  --ruler-width: 125px;
  --border-color: #b7b7b7;
  --calendar-max-height: 600px;
}

.calendar {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: var(--ruler-width);
  padding-top: var(--header-height);
  color: #6b6b6b;
}

.calendar * {
  box-sizing: border-box;
}

.calendar__corner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: var(--ruler-width);
  height: var(--header-height);
  background-color: var(--header-bg-color);
  border: 1px solid var(--border-color);
  line-height: var(--header-height);
  text-align: center;
  font-size: var(--header-font-size);
  font-weight: bold;
}

.calendar__header {
  position: absolute;
  height: var(--header-height);
  line-height: var(--header-height);
  z-index: 10;
  top: 0;
  /* padding-left: var(--ruler-width); */
  text-align: center;
  font-size: var(--header-font-size);
  font-weight: bold;
}

.calendar__ruler {
  position: absolute;
  z-index: 9;
  left: 0;
  /* padding-top: var(--header-height); */
  width: var(--ruler-width);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  text-align: center;
}

.calendar__content {
  position: relative;
  width: auto;
  overflow: auto;
  max-height: var(--calendar-max-height);
}